# The internal http port used by the docker container to listen on Traefik
HTTP_INTERNAL_PORT=8002

# Values representing what Traefik will be listening on
URL_PUBLIC_SCHEME=https
URL_PUBLIC_HOST=unprotected.flutter-graphql.demo.approov.io
URL_PUBLIC_PORT=443
